* {
    background-image: url("https://cache.desktopnexus.com/cropped-wallpapers/2083/2083764-1920x1080-[DesktopNexus.com].jpg?st=lS1CWh-tj0-XCpVE6JsQYw&e=1601447345");

    background-color: gray;
}

.ul-class {
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px 40px 20px 10px;
    color: black;
    font-weight: bold;
}

.highscore-class {
    float: left;
}

.timer-class {
    float: right;
    
}

body {
    display: grid;
    text-align: center;
    margin-top: 0%;
    background-color: gray;
    color: white;
    background-image: url("https://cache.desktopnexus.com/cropped-wallpapers/2083/2083764-1920x1080-[DesktopNexus.com].jpg?st=lS1CWh-tj0-XCpVE6JsQYw&e=1601447345");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainDiv-class {
    display:flex 2;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.h1ElCoding-class {
    font-size: 70px;
    font-weight:bolder;
    text-decoration: ivory;
    color:darkblue;
}

.paraElIntro-class {
    text-align: center;
    margin-top: 5%;
    margin-left: 9%;
    margin-right: 9%;
    font-size: 45px;
}

.startQuizBtn-class {
    text-align: center;
    box-shadow: lightslategray;
    background-color: black;
    color: white;
    border:black;
    border-width: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
    
}

.quest-class {
    text-align: center;
    color: white;
    border:black;
    font-weight: bold;
    font-size: 45px;
    margin: 10% 20% 1% 20%;
    
    
    
}

.ans-class {
    text-align: center;
    box-shadow: lightslategray;
    background-color: black;
    color: white;
    border:black;
    border-width: 5px 10px;
    border-radius: 10px 10px;
    font-weight: bold;
    font-size: 35px;
    margin: 1% 20% 1% 20%;
    padding:5px 5px 5px 5px;
    
}
